@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background: linear-gradient(
    90deg,
    #672280 1.18%,
    #9825c1 78.55%,
    #9c25c5 84%,
    #a026cb 91.09%,
    #a626d3 100%
  );
}

.header-logo {
  width: 5rem;
  padding: 10px;
}

.form-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit-btn {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
}

.form-submit-btn:hover {
  background: linear-gradient(90.41deg, #8a3aac 1.14%, #b719ec 100%);
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
.meme {
  position: relative;
}
